[Unit]
Description=VPN Controls telegram bot
After=network.target
Wants=network.target

[Service]
User=%s
Type=simple
WorkingDirectory=~
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=.env
ExecStart=/usr/bin/env python /usr/src/tgbot/main.py
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
